<!DOCTYPE html>
<html>

<head>
    <title>Quiz</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz/style.css' %}">

    {% block extra_head %}{% endblock %}
</head>

<body>
    <div class="panel">

        <nav class="navbar">
            <div class="nav-brand">
                <a href="/">QuizApp</a>
            </div>

            <ul class="nav-links">
                {% if not user.is_authenticated %}
                <li><a href="{% url 'accounts:register' %}">Anmelden</a></li>
                <li><a href="{% url 'accounts:login' %}">Einloggen</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'quiz:index' %}">Quizze</a></li>
                <li><a href="{% url 'quiz:quizzes' %}">Quizze bearbeiten</a></li>
                <li>
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button name="submit">Log out</button>
                    </form>
                </li>
                {% endif %}
            </ul>

        </nav>

        {% block content %}{% endblock content%}

    </div>

</body>

</html>