{% extends 'quiz/base.html' %}

{% block extra_head %}
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$']]
        }
    };
</script>

<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block content %}

<h2>Quiz {{ quiz.title }}</h2>

<h2>Quiz bearbeiten:</h2>



<form method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <div class="quiz-edit-menu">
        <div class="quiz-explanation">
            <button type="submit">Bearbeiten</button>
        </div>
        <div class="quiz-edit-link">
            <a href="{% url 'quiz:new_question' quiz.id %}">Verwerfen</a>
        </div>
    </div>
</form>



{% endblock %}