{% extends 'quiz/base.html' %}

{% block extra_head %}
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$']]
        }
    };
</script>

<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock %}

{% block content %}

<h2 class="page-title">Neues Quiz erstellen</h2>

<div class="quiz-form-container">
    <form action="{% url 'quiz:new_quiz' %}" method="post" class="quiz-form">
        {% csrf_token %}

        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>

        <div class="form-group">
            {{ form.explanation.label_tag }}
            {{ form.explanation }}
        </div>

        <div class="form-group checkbox-group">
            {{ form.link_sharing }}
            {{ form.link_sharing.label_tag }}
        </div>

        <div class="form-group">
            {{ form.share_with_user.label_tag }}
            {{ form.share_with_user }}
            <div class="form-error">
                {{ form.share_with_user.errors }}
            </div>
        </div>

        <div class="quiz-actions">
            <button type="submit" class="btn primary">Erstellen</button>

            <a href="{% url 'quiz:edit_quizzes' %}" class="btn danger">
                Abbrechen
            </a>
        </div>
    </form>
</div>

{% endblock %}