{% extends 'quiz/base.html' %}

{% block extra_head %}
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$']]
        }
    };
</script>

<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block content %}

<h2>Frage</h2>


<div class="question-card">

    <div class="question-header">

        <div class="question-title">
            {{ question }}
        </div>

    </div>

    <ul class="option-list">
        {% for option in question.options.all %}

        <li class="option-item">

            <div class="option-row">

                <div class="option-indicator">
                    {% if option.is_correct %} ☑ {% endif %}
                </div>

                <div class="option-text">
                    {{ option }}
                </div>

                <form action="{% url 'quiz:delete_option' quiz_id question.id option.id%}" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Antwort wirklich löschen?');">
                        Antwort löschen
                    </button>
                </form>

            </div>
        </li>
        {% endfor %}
    </ul>

</div>

<div class="new-option-form">
    <form action="{% url 'quiz:new_option' quiz_id question.id %}" method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">Neue Anwort erstellen</button>
    </form>
</div>

<div class="link-back">
    <a href="{% url 'quiz:new_question' quiz_id %}">
        Frage fertig
    </a>
</div>

{% endblock %}