{% extends 'quiz/base.html' %}

{% block extra_head %}
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$']]
        }
    };
</script>

<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock %}

{% block content %}

<h2>Erstelle einen neue Quiz:</h2>

<div class="new-quiz-form">
    <form action="{% url 'quiz:new_quiz' %}" method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button name="submit">Erstellen</button>
    </form>
</div>

{% endblock %}