{% extends 'quiz/base.html' %}

{% block extra_head %}
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$']]
        }
    };
</script>

<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block content %}

<h2>Quiz</h2>

{% for question in questions %}
<div class="field">
    <div class="question-header">

        <strong>{{ question }}</strong>

        <a href="{% url 'quiz:new_option' quiz.id question.id %}">
            ➕ Antwort hinzufügen
        </a>

        <form action="{% url 'quiz:delete_question' quiz.id question.id %}" method="post">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Frage wirklich löschen?');">
                🗑 Frage löschen
            </button>
        </form>
    </div>
    <ul>
        {% for option in question.options.all %}
        <li>
            <span class="left">
                <span class="option-answer">
                    {% if option.is_correct %} ☑ {% endif %}
                </span>
                <span class="option-text">
                    {{ option }}
                </span>
            </span>
        </li>
        {% endfor %}
    </ul>

</div>
{% endfor %}

<form action="{% url 'quiz:new_question' quiz.id %}" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <button name="submit">Erstellen</button>
</form>

{% endblock %}