{% extends 'quiz/base.html' %}

{% block extra_head %}
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$']]
        }
    };
</script>

<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock %}

{% block content %}

<div class="explanation">
    {% load linkify %}
    {{ quiz.explanation|linebreaks|urlize_blank }}
</div>

<h2 class="page-title">Quiz</h2>

<form method="post" class="quiz-form">
    {% csrf_token %}

    {% for field in form %}
    <div class="card quiz-question-card">

        <div class="quiz-question-title">
            {{ field.label }}
        </div>

        <div class="quiz-options">
            {{ field }}
        </div>

        <div class="form-error">
            {{ field.errors }}
        </div>

    </div>
    {% endfor %}

    <div class="quiz-actions">
        <button class="btn primary" type="submit">
            Abgeben
        </button>
    </div>

</form>

{% endblock %}