{% extends 'quiz/base.html' %}

{% block extra_head %}
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$']]
        }
    };
</script>

<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock %}

{% block content %}

<div class="explanation">
    {{ quiz.explanation|urlize_blank|linebreaks }}
</div>

<h2>Fragen</h2>

<div class="quiz-form">
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="quiz-question">

            <div class="quiz-question-title">
                {{ field.label }}
            </div>

            <div class="quiz-options">
                {{ field }}
            </div>

            <div class="quiz-errors">
                {{ field.errors }}
            </div>

        </div>
        {% endfor %}

        <button class="quiz-submit" type="submit">Abgeben</button>
    </form>
</div>

{% endblock %}