{% extends 'quiz/base.html' %}

{% block content %}

<h2>Quizze</h2>

<ul class="quizzes-list">
    {% for quiz in quizzes %}

    <li class="quiz-item">

        <div class="quiz-row-left">

            <div class="quiz-title">
                <a href="{% url 'quiz:quiz' quiz.id%}">{{ quiz.title }}</a>
            </div>

        </div>

        <div class="quiz-row-right">

            <div class="quiz-start">

                <a href="{% url 'quiz:quiz' quiz.id%}">
                    Quiz starten
                </a>

            </div>

        </div>
    </li>
    {% empty %}
    <li class="quiz-item">
        Noch kein Quiz vorhanden.
    </li>
    {% endfor %}
</ul>

{% endblock content %}