{% extends 'quiz/base.html' %}

{% block content %}

<h2 class="page-title">Quizze</h2>

<div class="quiz-list">

    {% for category in categories %}
    <a href="{% url 'quiz:quiz_category' category.id %}" class="quiz-card-category card">

        <div class="quiz-card-content">

            <div class="quiz-title">
                {{ category.name }}
            </div>

            <div class="quiz-meta">
                {% if category.owner == request.user %}
                <span class="badge own">Deine Kategorie</span>
                {% else %}
                <span class="badge shared">
                    Von {{ category.owner.username }}
                </span>
                {% endif %}
            </div>

        </div>

    </a>
    {% endfor %}

    {% for quiz in quizzes %}
    {% if not quiz.category %}
    <a href="{% url 'quiz:quiz' quiz.id %}" class="quiz-card card">

        <div class="quiz-card-content">

            <div class="quiz-title">
                {{ quiz.title }}
            </div>

            <div class="quiz-meta">
                {% if quiz.owner == request.user %}
                <span class="badge own">Dein Quiz</span>
                {% else %}
                <span class="badge shared">Von {{ quiz.owner.username }}</span>
                {% endif %}
            </div>

        </div>

    </a>
    {% endif %}
    {% empty %}
    <div class="card empty-state">
        Noch kein Quiz vorhanden.
    </div>
    {% endfor %}

</div>

{% endblock content %}